:root
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
    color-scheme: light dark;
  color: rgba(47, 47, 47, 0.87);
        background: rgb(255, 255, 255); /* transparent white */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }